{% extends "FOSUserBundle::admin-layout.html.twig" %}

{% block breadcrumbs %}
    <li class="active">Change Password</li>
{% endblock %}

{% set content_title = 'Change Password' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="col-xs-10 col-xs-offset-1 bottom-15">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    {{ form_errors(form.current_password) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label" for="fos_user_change_password_form_current_password">
                    {{ 'form.current_password'|trans }}
                </label>
                <div class="col-xs-12">
                    {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="fos_user_change_password_form_plainPassword_first">
                    {{ 'form.new_password'|trans }}
                </label>
                <div class="col-xs-12">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="fos_user_change_password_form_plainPassword_second">
                    {{ 'form.new_password_confirmation'|trans }}
                </label>
                <div class="col-xs-12">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary pull-right">
                    {{ 'change_password.submit'|trans }}
                </button>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock fos_user_content %}
