{% extends 'ApiUserBundle::user-layout.html.twig' %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('admin_user_roles') }}" title="Role Manager">Role Manager</a>
    </li>
    <li class="active">Edit</li>
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <form class="form-horizontal" role="form" action="{{ path('admin_user_roles_update', {'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Role
                        <a class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#confirmDelete">
                            <span class="icon-left glyphicon glyphicon-trash" aria-hidden="true"></span>
                            Delete Role
                        </a>
                    </h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        {{ form_errors(form) }}

                        <div class="form-group">
                            {{ form_label(form.role) }}
                            {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.platform) }}
                            {{ form_widget(form.platform, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        {{ form_rest(form) }}
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                    <a class="btn pull-left" href="{{ path('admin_user_roles') }}">&larr;  Back to the list</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>

    {# Confirm Delete Modal #}
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labeledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ path('admin_user_roles_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="confirmDeleteModalLable">Are You Sure?</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Delete this role?</p>        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <span class="btn-icon-left glyphicon glyphicon-trash" aria-hidden="true"></span>
                            Yes
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </form>            
            </div>
        </div>
    </div>

{% endblock %}
